@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100&display=swap');

*{
    margin: 0;
    background-color: rgb(247, 247, 174);
    font-family: Roboto Mono;
}

header{
    display: flex;
    color: rgb(0, 0, 63);
    align-content: center;
    justify-content: center;
}

.fa-calculator{
    font-size: 30px;
    padding: 10px;

}

.calculator-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    display: flex;
    height: 500px;
    width: 400px;
    flex-wrap: wrap;
    padding: 15px;
}

button{
    align-items: center;
    background-color: beige;
    font-size: 25px;
    height: 100px;
    width: 100px;
}

.output{
    display: flex;
    width: 400px;
    height: 70px;
    background-color: rgb(0, 0, 63);
    color: white;
    font-size: 50px;   
    justify-content: end;
}

.key__operator{
    font-size: 40px;
}

.key__clear{
    grid-template-columns: 200px;
    width: 200px;
}

.key__equals{
    grid-template-columns: 200px;
    width: 400px;
    height: 70px;
}